.filterContainer {
    background-image: url("../../public/filter-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -100px;
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.resultContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 256px));
    justify-items: center;
    gap: 20px;
    padding: 20px 100px;
    background-color: #f5e8d5;
}

