.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #112e01;

    .pageTitle {
        font-size: 40px;
        cursor: progress;
    }

    .navLinkContainer {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    .navLink {
        font-size: 20px;
        cursor: pointer;
    }
}
